<nav class="navbar navbar-expand-md sticky-top navbar-dark bg-dark shadow py-0" id="mainNav">
  <div class="container-fluid">
<div class="navbar-brand d-flex">
  <img height="35" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  <h4 class="ml-2">News Portal</h4>
</div>

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navCollapse">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navCollapse">
  <ul class="navbar-nav nav-pills ml-auto">
  <li class="nav-item">
    <a class="nav-link" href="#">All</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-warning" href="#">Entertainment</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-danger" href="#">Science</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-primary" href="#">Sports</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-success" href="#">Technology</a>
  </li>
  <li class="nav-item">
    <form class="form-inline ml-3 mr-auto my-1">
      <div class="input-group">
        <input type="text" class="bg-light form-control border-0" placeholder="Search for...">
        <div class="input-group-append">
          <button class="btn btn-light p-1" type="button">
            <i class="fas fa-search"></i>
          </button>
          </div>
        
      </div>
    </form>
  </li>
      </ul>
    </div>
  </div>
</nav>