<div class="container mt-3">
  <div class="row">
    <h2>Top Headlines</h2>
  </div>
  <div class="row">
    <div class="col">
      <div class="card headling-card shadow">
        <a href="#" target="_blank"><img class="card-img-top headline-img" src="https://media.npr.org/assets/img/2019/05/21/iftar-buffet---allam_wide-9faad39b462948bfddffd3f3158586e8a0ba28cd.jpg?s=1400" alt=""></a>
      </div>
    </div>
    <div class="col">
      <div class="card headling-card shadow">
        <a href="#" target="_blank"><img class="card-img-top headline-img" src="https://cnet2.cbsistatic.com/img/7Hm_h6EV84pbbz1tTo8JYfNnONI=/756x567/2019/05/17/d69a5f8e-ad6d-4674-9020-5b71353f8671/huawei-mate-20-x-5g-2.jpg" alt=""></a>
      </div>
    </div>
    <div class="col">
      <div class="card headling-card shadow">
        <a href="#" target="_blank"><img class="card-img-top headline-img" src="https://images.anandtech.com/doci/14372/LightTheme_678x452.png" alt=""></a>
      </div>
    </div>
    <div class="col">
      <div class="card headling-card shadow">
        <a href="#" target="_blank"><img class="card-img-top headline-img" src="https://media.extratv.com/2019/05/22/the-voice-4-nbc-1200x630.jpg" alt=""></a> 
      </div>
    </div>
    <div class="col">
      <div class="card headling-card shadow">
        <a href="#" target="_blank"><img class="card-img-top headline-img" src="https://o.aolcdn.com/images/dims?thumbnail=1200%2C630&quality=80&image_uri=https%3A%2F%2Fo.aolcdn.com%2Fimages%2Fdims%3Fcrop%3D5258%252C3505%252C0%252C0%26quality%3D85%26format%3Djpg%26resize%3D1600%252C1067%26image_uri%3Dhttps%253A%252F%252Fs.yimg.com%252Fos%252Fcreatr-images%252F2019-01%252F15dd9d20-1e46-11e9-bfb5-833f5b1b3dcc%26client%3Da1acac3e1b3290917d92%26signature%3D0c5ae020ca3158023dc307004ff1c8783e1a166e&client=amp-blogside-v2&signature=dd67919ff0d2107e6a22ce75ef3344becafb4ee7" alt=""></a>
      </div>
    </div>
  </div>
</div>

<hr>